{% extends "layout.html" %}

{% block app_content %}


{% if current_user.is_authenticated %}
<h1 class="mb-3 user-posts-heading"> </h1>
  {% for test in tests %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h3> <a class=" mr-2 article-title" href={{test.url}}>
            {{ test.title }}
           </a>
           {% if test.isBookMarked(current_user.id) %}
           <a class="btn taken-test-btn btn-sm mt-1 mb-1 btn-primary" href="{{ url_for('unBookmarkNews', news_id=test.id) }}">Remove Bookmark</a>
           {% else %}
           <a class="btn taken-test-btn btn-sm mt-1 mb-1 btn-primary" href="{{ url_for('bookmarkNews', news_id=test.id) }}">Bookmark</a>
           {% endif %}
           <a class="btn taken-test-btn btn-sm mt-1 mb-1 btn-primary" href="{{ url_for('deleteNews', news_id=test.id) }}">Delete</a>
           {% if test.isReadForUser(current_user.id) %}
           <a class="btn taken-test-btn btn-sm mt-1 mb-1 btn-primary" href="{{ url_for('unMarkAsRead', news_id_=test.id) }}">Mark as unread</a>
           {% else %}
           <a class="btn taken-test-btn btn-sm mt-1 mb-1 btn-primary" href="{{ url_for('markAsRead', news_id=test.id) }}">Mark as read</a>
           {% endif %}
           <br/>
           <a class=" mr-2 article-score">
            Score : {{ test.upvotes }}
           </a>
           <a class=" mr-2 article-comments">
            Comments : {{ test.comments }}
           </a>
           <a class=" mr-2 article-hnUrl" href={{test.hnUrl}}>
            HackerNews Url
           </a>
           <a class=" mr-2 article-hnUrl">
            Posted On : {{ test.postedHoursBefore }}
           </a> 
          </h3>
        </div>
      </div>

    </article>

  {% endfor %}

{% else %}
      
    <div>
      <div class="logout-class"> Please Login !</div>
        <div class="article-metadata"></div>
    </div>


{% endif  %}


{% endblock app_content %}
