{% extends "layout.html" %}




{% block app_content %}
{% if current_user.is_authenticated %}

	{% for post in posts %}

		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2 article-user-name" href="{{ url_for('user_posts', username=post.author.username) }}"> 
						{{ post.author.username}}
					</a>
					<small class="text-muted">
						{{ post.date_posted.strftime('%a %b %d %l:%M %p %Y') }}
					</small>
				</div>
				<h2> <a class="article-title" href="{{ url_for('post', post_id=post.id) }}">
					 	{{ post.test_name }}
					 </a>
				</h2>
				<p class="article-content">
					{{ post.no_of_questions }}
				</p>

			</div>

		</article>

	{% endfor %}

	{% else %}

			<div>
			<div class="logout-class"> Thank you, Please visit us again </div>
				<div class="article-metadata">
				</div>
			</div>


{% endif  %}

{% endblock app_content %}
